:root {
    --code-font-size: 0.75rem;
    --code-font-family: "Fira Code", sans-serif;

    --inline-code-horizontal-padding: 3px;
    --inline-code-vertical-padding: 2px;
}

.grvsc-line {
    font-size: var(--code-font-size);
}

code, kbd, pre, samp {
    font-family: var(--code-font-family);
    font-size: var(--code-font-size);
}

p code, li code {
    background-color: #f3f4f6;
    border-radius: 3px;
    padding-top: var(--inline-code-vertical-padding);
    padding-left: var(--inline-code-horizontal-padding);
    padding-right: var(--inline-code-horizontal-padding);
    padding-bottom: var(--inline-code-vertical-padding);
    font-size: var(--code-font-size);
}

pre.grvsc-container {
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
                rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

code.grvsc-code {
    line-height: 1.1rem;
}

.post-body > p {
    padding-left: 3%;
    padding-right: 3%;
}

.post-body ul, .post-body ol {
    padding-left: 3%;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote:before {
    color: #ccc;
    content: "\201C";
    font-size: 3rem;
    line-height: 0.1em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
    font-size: 1.1rem;
    font-style: italic;
}

figcaption {
    color: grey;
    font-size: 0.9rem;
    text-align: center;
    padding: 0 2rem;
}

.bio-avatar {
    margin-right: 5px;
    min-width: 64px;
}

.footnotes {
    font-size: 0.9rem;
}
