.grvsc-line {
    font-size: 0.7rem;
}

p code, li code {
    background-color: #dee4e7;
    font-size: 0.8rem;
}

code.grvsc-code {
    line-height: 1.1rem;
}

div.post-body > p {
    padding-left: 3%;
    padding-right: 3%;
}

div.post-body ul, div.post-body ol {
    padding-left: 3%;
}

blockquote {
    font-style: italic;
    font-size: 1.1rem;
}

figcaption {
    color: grey;
    font-size: 0.9rem;
    text-align: center;
    padding: 0 2rem;
}
